*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins';
}

body{
    color: white;
    background-color: #0f1a3e;
    
    
}

html{
    scroll-behavior: smooth;
}

section{
    padding: 100px 10%;
    min-height: 70vh;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.logo{
    position: relative;
    font-size: 25px;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards ;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.navbar a:hover{
    color: aqua;
}

/* home css */
.home-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}
  
.home-col-1 {
    flex-basis: 50%;
    margin-top: 20px;
}

.home-col-1 h3{
      font-size: 32px;
      font-weight: 700;
      opacity: 0;
      animation: slideBottom 1s ease forwards;
      animation-delay: .7s;
  }
  
  .home-col-1 h1{
      font-size: 56px;
      font-weight: 700;
      margin: -3px 0;
      opacity: 0;
      animation: slideRight 1s ease forwards ;
      animation-delay: 1s;
  }
  
  .home-col-1 p{
      font-size: 20px;
      opacity: 0;
      animation: slideleft 1s ease forwards ;
      animation-delay: 1s;
  }

.home-scl a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards ;
    animation-delay: 1s;
    
}

.home-scl a:hover{
    background: #0ef;
    color: black;
    box-shadow: 0 0 20px #0ef;
}

.text {
    font-weight: bold;
    color: #0ef;
    border-right: 3px solid #000; /* Cursor effect */
    padding-right: 5px;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards ;
    animation-delay: 1s;

}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan;

}


.home-col-2 {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    padding-right: 50px;
  }
  
  .home-col-2 img {
    width: 370px;
    height: 370px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px #0ef, 0 0 45px #0ef, 0 0 60px #0ef;
    transition: 0.3s ease;
    background: transparent;
    
  }
  
  .home-col-2 img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 100px #0ef, 0 0 100px #0ef;
  }

  @keyframes slideRight{
    0%{
        transform: r=translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideleft{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

  @media screen and (max-width: 1024px) {
    .header {
        padding: 20px 5%;
    }
    .logo {
        font-size: 20px;
    }
    .navbar a {
        font-size: 20px;
        margin-left: 15px;
    }
    .home-col-1 h3 {
        font-size: 28px;
    }
    .home-col-1 h1 {
        font-size: 48px;
    }
    .home-col-1 p {
        font-size: 18px;
    }
    .home-scl a {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
    .btn-box {
        font-size: 14px;
        padding: 10px 22px;
    }
    .home-col-2 img {
        width: 320px;
        height: 320px;
    }
}

/* Mobile devices (>= 480px) */
@media screen and (max-width: 768px) {
    .header {
        padding: 15px 5%;
    }
    .logo {
        font-size: 7px;
    }

    .navbar{
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        justify-content: center;
        gap: 2px;
        padding: 0px 10px;
    }
    .navbar a {
        font-size: 7px;
        white-space: nowrap;
        text-decoration: none;
    }

    .home-row{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 20px;
    }

    .home-col-1,
    .home-col-2{
        flex-basis: 100%;
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }
    .home-col-1 h3 {
        font-size: 20px;
    }
    .home-col-1 h1 {
        font-size: 32px;
    }
    .home-col-1 p {
        font-size: 14px;
        text-align: justify;
        padding: 0 10px;
    }

    .home-scl{
        justify-content: center;
    }
    .home-scl a {
        width: 25px;
        height: 25px;
        font-size: 14px;
        margin: 20px 10px 20px 0;
    }
    .btn-box {
        font-size: 12px;
        padding: 8px 18px;
        margin-top: 10px;
    }
    .home-col-2 img {
        width: 240px;
        height: 240px;
        margin-bottom: 20px;
    }
}

/* Mobile phones (<= 480px) */
@media screen and (max-width: 480px) {
    .header {
        padding: 10px 5%;
    }
    .logo {
        font-size: 16px;
    }
    .navbar a {
        font-size: 7px;
        margin-left: 8px;
        word-spacing: 2px;
    }
    @media screen and (max-width: 480px) {
        .home-row {
            flex-direction: column-reverse;
            align-items: center;
            margin-top: 20px;
        }
    
        .home-col-1,
        .home-col-2 {
            flex-basis: 100%;
            text-align: center;
            padding: 0;
            margin: 0 auto;
        }
    
        .home-col-2 img {
            width: 180px;
            height: 180px;
            margin-bottom: 20px;
        }
    
        .home-col-1 h3 {
            font-size: 18px;
        }
    
        .home-col-1 h1 {
            font-size: 28px;
        }
    
        .home-col-1 p {
            font-size: 13px;
            padding: 0 10px;
            text-align: justify;
        }
    
        .home-scl a {
            width: 24px;
            height: 24px;
            font-size: 12px;
        }
    
        .btn-box {
            font-size: 11px;
            padding: 7px 16px;
        }
    }
    
    .home-col-2 img {
        width: 200px;
        height: 200px;
    }
}

/* about scss */
.about{
    padding: 80px 0;
    height: auto;  
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.about-col-1{
    flex-basis: 50%;
    display: flex;
    justify-content: left;  
}

.about-col-1 img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 130px;
    margin-left: 200px;
    box-shadow: 0 0 15px #0ef, 0 0 30px #0ef, 0 0 45px #0ef;
    transition: 0.3s ease;
    background: transparent;
}

.about-col-1 img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px #0ef, 0 0 100px #0ef;
}

.about-col-2{
    flex-basis: 50%;
}

.sub-title {
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-top: 100px;
}
  
.sub-title span {
    color: #0ef;
}
  
.about-col-2 h4 {
    font-size: 30px;
    font-weight: 600;
    color: #0ef;
    margin: 10px 0 20px;
    line-height: 1.3;
}
  
.about-col-2 p {
    font-size: 22px;
    line-height: 1.5;
    max-width: 600px;
    text-align: justify;
    color: white;
    margin-bottom: 10px;
}

.tab-title{
    display: flex;
    margin: 2px 0 5px;
    margin-top: 2px;
   
}

.tab-links{
    margin-right: 50px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0ef;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;

}

.tab-contents ul li{
    list-style: none;
    margin: 5px 0;
    font-size: 10px;
}

.tab-contents ul li span{
    color: #0ef;
    font-size: 12px;
    font-weight: 100;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.tab-contents{
    display: none;
    padding-top: 0px;
}

.sub-title2 {
    text-align: center;
    font-size: 60px;
    margin-top: 130px;
}
  
.sub-title2 span {
    color: #0ef;
}


@media screen and (max-width: 1024px) {
    .about-col-1 img {
        width: 250px;
        height: 250px;
        margin-left: 120px;
    }

    .about-col-2 {
        flex-basis: 100%;
        margin-top: 20px;
    }

    .sub-title {
        font-size: 48px;
        margin-top: 80px;
    }

    .about-col-2 h4 {
        font-size: 26px;
    }

    .about-col-2 p {
        font-size: 18px;
    }

    .tab-links {
        font-size: 20px;
    }

    .tab-contents ul li {
        font-size: 10px;
    }

    .sub-title2 {
        font-size: 48px;
        margin-top: 100px;
    }
}

/* Mobile devices (>= 480px) */
@media screen and (max-width: 768px) {
    .about{
        padding: 60px 5%;
    }

    .row{
        flex-direction: column;
        align-items: center;
    }

    .about-col-1{
        justify-content: center;
        margin-bottom: 20px;
    }
    .about-col-1 img {
        width: 180px;
        height: 180px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .about-col-2{
        text-align: center;
    }

    .sub-title {
        font-size: 30px;
        margin-top: 40px;
    }

    .about-col-2 h4 {
        font-size: 18px;
    }

    .about-col-2 p {
        font-size: 14px;
        line-height: 1.4;
        padding: 0 10px;
    }

    .tab-title{
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .tab-links {
        font-size: 16px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .tab-contents ul li {
        font-size: 10px;
    }

    .sub-title2 {
        font-size: 30px;
        margin-top: 60px;
    }
}

/* Mobile phones (<= 480px) */
@media screen and (max-width: 480px) {
    .about-col-1 img {
        width: 180px;
        height: 180px;
        margin-left: 30px;
    }

    .sub-title {
        font-size: 36px;
        margin-top: 30px;
    }

    .about-col-2 h4 {
        font-size: 22px;
    }

    .about-col-2 p {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 15px;
    }

    .tab-contents ul li {
        font-size: 10px;
    }

    .sub-title2 {
        font-size: 36px;
        margin-top: 60px;
    }
}



/* skills section */
#skills {
    padding: 120px 20px;
    min-height: 100vh;
    animation: fadeIn 1s ease-in;
}

.dd {
    color: aliceblue;
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}

.dd span{
    color: #00c3ff;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; 
    gap: 30px; 
    max-width: 1200px; 
    margin: auto;

}

.technical-skills, .professional-skills {
    width: 50%; 
    flex-grow: 1;
    text-align: left;
    padding: 8px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-align: left;
}

.bar {
    margin-bottom: 7px;
    
}

.bar i {
    font-size: 25px;
    margin-bottom: 10px; 
    padding: 10px;
    display: inline-block; 
}

.bar p {
    font-size: 18px;
    margin: 10px 0; 
    text-align: left; 
    margin-top: 0px;
}

.progress-bar {
    width: 70%; 
    height: 13.5px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    display: block;
    height: 100%;
    background-color: #00c3ff;
    border-radius: 10px;
    width: 0%; 
    transition: width 1s ease;
    font-size: 12px;
    text-align: center;
}

.circle-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    margin-top: 20px;
}


.circle-skill {
    text-align: center;
    position: relative;
    width: 48%; 
}


.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: relative;
    background: conic-gradient(#1e2a48 0%, #1e2a48 100%);
}


.circle-text {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: white;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes progressAnimation {
    from { width: 0; }
}

@keyframes circleAnimation {
    from { stroke-dashoffset: 440; }
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .technical-skills, .professional-skills {
        width: 100%;
        margin-bottom: 20px;
    }

    .circle-container {
        flex-direction: column;
        align-items: center;
    }

    .circle-skill {
        width: 80%;
        margin-bottom: 20px;
    }

    .circle {
        width: 90px;
        height: 90px;
    }

    .progress-bar {
        width: 90%;
    }

    .bar p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .dd {
        font-size: 30px;
    }

    .dd span {
        font-size: 30px;
    }

    .section-title {
        font-size: 22px;
    }

    .bar i {
        font-size: 22px;
    }

    .bar p {
        font-size: 14px;
    }

    .progress-bar {
        width: 80%;
    }

    .circle {
        width: 80px;
        height: 80px;
    }

    .circle-text {
        font-size: 14px;
    }
}


/* project section css */
#project {
    padding: 50px 5%;
    text-align: center;
}

.sub-title3 {
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
    margin-top: 120px;
    margin-bottom: -10px;
}

.sub-title3 span {
    color: #0ef;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto;
}

.row2 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    height: 350px; 
    display: flex;
    align-items: center; 
}

.row2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
    display: block;
    border-radius: 3px;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(rgba(0, 0, 0, 0.8), #0ef);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    overflow-y: auto;
    box-sizing: border-box; 
}

.layer h5 {
    font-size: 1.2rem;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #fff;
    text-align: center; 
}

.layer p {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1px;
}

.layer i {
    margin-top: 10px;
    color: red;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
}


.row2:hover img {
    transform: scale(1.1);
}

.row2:hover .layer {
    opacity: 1;
    padding: 20px 15px; 
    justify-content: flex-start;
}

.row2:hover .layer h5 {
    font-size: 1.6rem; 
}

.row2:hover .layer p {
    font-size: 1.1rem; 
}


.row2:hover .layer p {
    max-height: 80%; 
}

/* projects responsive */
@media (max-width: 1024px) {
    .portfolio-content {
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .portfolio-content {
        grid-template-columns: 1fr; 
        gap: 20px;
    }

    .row2 {
        position: relative;
        overflow: hidden;
    }
    
    .row2 img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 15px;
    }
    
    .layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.8), #0ef);
        color: white;
        padding: 20px;
        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .row2:hover .layer,
    .row2.active .layer {
        opacity: 1;
    }
    
    .layer h5 {
        font-size: 1.3rem; 
    }

    .layer p {
        font-size: 1rem; 
    }
}

/* contact css */
.container3 {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    margin-top: 180px;
}

.row3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-left, .contact-right {
    flex: 1;
    min-width: 350px;
}

.contact-left {
    text-align: left;
}

.contact-title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    white-space: nowrap;
}

.contact-left span {
    color: #0ef;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin-right: 15px;
    transition: 0.3s;
    margin-top: 3px;
    margin-bottom: 20px;
}

.social-icons a:hover {
    background: #0ef;
    color: black;
    box-shadow: 0 0 15px #0ef;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-right input, .contact-right textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

.contact-right input:focus, .contact-right textarea:focus {
    border-color: #0ef;
}

.contact-right button {
    padding: 12px;
    background: #0ef;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 15px #0ef;
}

.contact-right button:hover {
    box-shadow: 0 0 25px #0ef;
}


/* contact-responsive */
@media (max-width: 768px) {
    .row3 {
        flex-direction: column;
    }
    .contact-title {
        font-size: 45px;
    }
}

@media (max-width: 1024px) {
    .portfolio-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .portfolio-content {
        grid-template-columns: 1fr;
    }
    
    .contact-title, .sub-title3 {
        font-size: 30px;
    }

    .sub-title3 span{
        font-size: 30px;
    }
    
    .navbar a {
        font-size: 20px;
        margin-left: 20px;
    }
}

/* footer css */
#footer {
    margin-top: 50px;
    background: #0ef;
    color: #fff;
    padding: 5px 0; 
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.footer-left p {
    font-size: 12px;
    margin: 0;
    opacity: 0.7;
}


.footer-right .social-icons {
    display: flex;
    justify-content: center;
}

.footer-right .social-icons a {
    color: #fff;
    font-size: 30px;
    margin: 0 15px;
    transition: color 0.3s, transform 0.3s;
}

.footer-right .social-icons a:hover {
    color: #0ef;
    transform: scale(1.1);
    box-shadow: 0 0 15px #0ef;
}


#footer:hover {
    box-shadow: 0px 5px 15px rgba(0, 255, 255, 0.6);
}

/* footer Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-left {
        margin-bottom: 10px;
    }

    .footer-right {
        margin-top: 10px;
    }
}

